<h3>Edit</h3>
<hr>
<form action="/users/<%= @user.id %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="_method" value="patch">
	Name: <input value="<%=@user.name%>" id="Name" type="text" name="user[name]"><br>
	Email: <input value="<%=@user.email%>" id="Email" type="text" name="user[email]"><br>
	<button type="submit">Update</button>
</form>
<a href="/users/<%= @user.id %>">Back</a>

<hr>

<form action="/users/<%= @user.id %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="_method" value="delete">
	<button type="submit">Delete Account</button>
</form>