<h4>Secrets </h4>
<hr>
<table class="u-full-width">
	<tbody>
		<% @secrets.each do  |secret| %>
			<tr>
				<td><%= secret.content %> </td>
			    <td><%= secret.likes.count %> likes</td>
				<td>
				    <% if secret.users_liked.include? current_user %>
					  <form action='/likes/<%= secret.likes.find_by(user: current_user).id %>' method='post'>
					    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
					    <input type='hidden' name='_method' value='delete'>
					    <button type='submit' id='Dislike'>Dislike</button>
					  </form>

					<% else %>
					  <form action='/likes' method='post'>
					    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
					    <input type='hidden' name='secret_id' value='<%= secret.id %>'>
					    <button type='submit' class='button-primary' id='Like'>Like</button>
					  </form>	  
					<% end %>
				</td>
				<td>	
					<% if current_user == secret.user %>
						<form action="/secrets/<%= secret.id %>" method="post">
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type="hidden" name="_method" value="delete">
							<button type="submit" id="Delete" >Delete</button>
						</form>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<hr>
<a href="/users/<%= current_user.id %>">Back</a>